{% extends 'base.html.twig' %}

{% block title %}Article View!{% endblock %}

{% block body %}
<style>
    .post-thumb{
        width:50%;
    }
</style>

<div>
{% if article %}
        <div class="text-center">
            <h3 class="mt-3 text-center">{{ article.getTitle() }}</h3>
            <div class="col-6 offset-3">
                <img class="post-thumb" src="{{asset('uploads/article/'~ article.getPostImage())}}" alt="">
            </div>

            <div>
                <small class="post-date"><strong>{{ article.getUserId().getUserName() }}</strong></small>
                <p>{{ article.getBody() }}</p>
            </div>
            {% if article.getUserId().getId() == LoginUser %}
            <div>
                <p>
                    <a class="btn btn-warning" href="/Symfony/blog/public/article/edit/{{article.getId()}}">Edit</a>
                    <a class="btn btn-danger" href="/Symfony/blog/public/article/delete/{{article.getId()}}">Delete</a>
                </p>
            </div>
            {% endif %}

        </div>
        {% if app.user%}
            <div class="mb-5">
                {{form(form)}}
            </div>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
                <div class="mt-3 card">
                    <p>{{ comment.getBody() }}</p>
                    <small>by:- <strong>{{ comment.getUser().getUserName() }}</strong>({{ comment.getUser.getEmail() }})</small>
                </div>
            {% endfor %}
        {% else %}
            <h5>No Comments Availble. </h5>
        {% endif %}
{% endif %}
</div>
{% endblock %}
